@charset "utf-8";
@font-face {
    font-family: 'Dolbomche_R';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2104@1.0/Dolbomche_R.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'Dolbomche_B';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2104@1.0/Dolbomche_B.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'NEXON Lv1 Gothic OTF Bold';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_20-04@2.1/NEXON Lv1 Gothic OTF Bold.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

#wrap{
    width: 100%;
    overflow: hidden;
}
a:hover{
    color:#ececec;
    cursor: pointer;
}

/* 콘텐츠 메뉴 */
#con_menu{
    width: 74%;
    overflow: hidden;
    margin: 0 auto;
}

/* 서브텍스트 */
.menutext h1,h3{
    color: #370818;
    font-family: 'Dolbomche_R';
}
.menutext>h1{
	font-size: 2.2rem;
    margin-bottom: 15px;
}
.menutext>h3{
    margin-bottom: 20px;
    font-size: 1.1rem;
    font-weight: 100;
}
.menutext>p{
    border-bottom: 3px solid #370818;
    margin-bottom: 20px;
}

/* 콘텐츠 메뉴 gnb*/
.con_gnb{
    width: 99%;
    margin: 0 auto;
}
.con_gnb>ul{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.con_gnb li a{
    font-family: 'Dolbomche_R';
    font-size: 1.3em;
}
.con_gnb li:nth-child(5){
    font-weight: 900;
}


/* 메뉴 콘텐츠 */


/* 모든 라인 기본 설정*/
.line{
    width: 73%;
    overflow: hidden;
    margin: 0 auto;
}
.line>ul{
    width: 48%;
    margin: 0 auto;
    overflow: hidden;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin-top: 6%;
    margin-bottom: 6%;
}
.line li:first-child{
    width: 25%;
    border-bottom: 1px solid #370818;
}
.m_line{
	display: none;
}

/* 모든 상단 메뉴 텍스트 설정 */
.n_d{
    font-size: 2.2em;
    text-align: center;
    font-family: 'Dolbomche_b';
	color: #370818;
}
.n_d+p{
    text-align: center;
    font-size: 1.2em;
    font-family: 'Dolbomche_b';
	color: #370818;
    margin-top: 5px;
}

.line li:nth-child(3){
    width: 25%;
    border-bottom: 1px solid #370818;
}

/* 콘 메뉴 기본 설정 */
.con_wrap{
    width: 73%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between; 
    align-items: center;
    text-align: center;
    margin-bottom: 5%;
}
.c_m{
    margin-bottom: 0;
}
.con_img img{
	width: 90%;
}
.con p{
    font-family: 'Dolbomche_b';
    font-size: 1.1em;
	color: #370818;
	line-height: 26px;
    margin-top: 15px;
}
.null{
    width: 18%;
}
.null2{
    width: 19%;
}

/* 벌크 메뉴 기본 설정 */
.bulk_wrap{
    width: 73%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between; 
    align-items: center;
    text-align: center;
	margin-bottom: 6%;
}
.bulk_img img{
	width: 90%;
}
.bulk p{
    font-family: 'Dolbomche_b';
    font-size: 1.1em;
	color: #370818;
	line-height: 26px;
    margin-top: 15px;
}




/* 반응형 웹 */



/* 모바일 */
@media all and (max-width:768px) { 

/* 콘텐츠 메뉴 */
#con_menu{
    width: 90%;
}
/* 서브텍스트 */
.menutext>h1{
	font-size: 1.2rem;
    margin-bottom: 10px;
	font-family: 'NEXON Lv1 Gothic OTF Bold';
}
.menutext>h3{
    margin-bottom: 10px;
    font-size: 0.6rem;
	font-weight: 900;
	font-family: 'NEXON Lv1 Gothic OTF Bold';
}
.menutext>p{
    border-bottom: 2px solid #370818;
    margin-bottom: 10px;
}

/* 콘텐츠 메뉴 gnb*/
.con_gnb{
    width: 99%;
    margin-bottom: 10px;
}
.con_gnb li a{
    font-size: 0.8em;
	font-family: 'NEXON Lv1 Gothic OTF Bold';
}
.con_gnb li:nth-child(5)>a{
	color: #949494;
	font-family: 'NEXON Lv1 Gothic OTF bold';
}
/* 메뉴 라인 초기화 설정 */
.line{
    width: 90%;
}
.line>ul{
    width: 100%;
    margin-top: 10%;
    margin-bottom: 10%;
}
.line li:first-child,
.line li:nth-child(3){
    width: 23%;
}
.m_line{
	display:contents;		
}	

/* 모든 상단 메뉴 텍스트 설정 */
.n_d{
    font-size: 1.1em;
	font-family: 'NEXON Lv1 Gothic OTF Bold';
}
.n_d+p{
    margin-top: 3px;
	font: bold 0.75em / 20px 'NEXON Lv1 Gothic OTF Light';
}
	
/* 콘 메뉴 기본 설정 */
.con_wrap{
    width: 90%;
    display: block;
    justify-content: normal;
    margin-bottom: 5%;
}
.con{
	width: 50%;	
	float: left;
	margin-bottom: 15%;
}
.con_img img{
	width: 80%;
}
.con p{
    font-size: 0.72em;
	line-height: 22px;
    margin-top: 10px;
	font-family: 'NEXON Lv1 Gothic OTF Bold';
}
.null{
    width: 0%;
}
.null2{
    width: 0%;
}
.clear{
	clear: both;		
}	

/* 벌크 메뉴 기본 설정 */
.bulk_wrap{
    width: 90%;
    display: block;
    justify-content: normal;
    margin-bottom: 5%;
}
.bulk{
	width: 50%;	
	float: left;
	margin-bottom: 15%;
}	
.bulk_img img{
	width: 75%;
}
.bulk p{
    font-size: 0.75em;
	line-height: 22px;
    margin-top: 10px;
	font-family: 'NEXON Lv1 Gothic OTF Bold';
}
}


/* 태블릿 사이즈*/
@media all and (min-width:769px) and (max-width:1024px) {

/* 콘텐츠 메뉴 */
#con_menu{
    width: 95%;
}
/* 서브텍스트 */
.menutext>h1{
	font-size: 1.9rem;
    margin-bottom: 10px;
}
.menutext>h3{
    margin-bottom: 15px;
    font-size: 1.1rem;
}
.menutext>p{
    margin-bottom: 15px;
}

/* 콘텐츠 메뉴 gnb*/
.con_gnb{
    width: 99%;
}
.con_gnb li a{
    font-size: 1.4em;
}

/* 메뉴 라인 초기화 설정 */
.line{
    width: 95%;
}
.line>ul{
    width: 100%;
    margin-top: 6%;
    margin-bottom: 6%;
}
.line li:first-child,
.line li:nth-child(3){
    width: 20%;
}
.m_line{
	display:contents;		
}		

/* 모든 상단 메뉴 텍스트 설정 */
.n_d{
    font-size: 2em;
}
.n_d+p{
    font-size: 1.25em;
    margin-top: 10px;
}
	
	
/* 콘 메뉴 기본 설정 */
.con_wrap{
    width: 90%;
    display: block;
    justify-content: normal;
}
.con{
	width: 50%;	
	float: left;
	margin-bottom: 6%;
}
.con_img img{
	width: 50%;
}
.con p{
    font-size: 1.3em;
	line-height: 35px;
    margin-top: 15px;
}
.null{
    width: 0%;
}
.null2{
    width: 0%;
}
.clear{
	clear: both;		
}	

/* 벌크 메뉴 기본 설정 */
.bulk_wrap{
    width: 90%;
    display: block;
    justify-content: normal;
}
.bulk{
	width: 50%;	
	float: left;
	margin-bottom: 6%;
}	
.bulk_img img{
	width: 55%;
}
.bulk p{
    font-size: 1.3em;
	line-height: 35px;
    margin-top: 15px;
}
}

/* 노트북 사이즈*/
@media all and (min-width:1025px) and (max-width:1520px) { 
/* 콘텐츠 메뉴 */
#con_menu{
	padding-left: 20px;
}
.menutext>h1{
	font-size: 1.4rem;
    margin-bottom: 5px;
}
.menutext>h3{
    margin-bottom: 10px;
    font-size: 0.7rem;
}
.menutext>p{
    border-bottom: 2px solid #370818;
    margin-bottom: 10px;
}

/* 콘텐츠 메뉴 gnb*/	
.con_gnb li a{
    font-size: 0.9em;
}	
	
/* 메뉴 라인 초기화 설정 */
.line{
    width: 73%;
}
.line>ul{
    width: 48%;
}
.line li:first-child{
    width: 25%;
}

/* 모든 상단 메뉴 텍스트 설정 */
.n_d{
    font-size: 1.4em;
}
.n_d+p{
    font-size: 0.85em;
    margin-top: 10px;
}

/* 콘 메뉴 기본 설정 */
.con_wrap{
    width: 78%;
	margin-bottom: 4%;
}
.c_m{
		margin-bottom: 0;
}
.con_img img{
	width: 60%;
}
.con p{
    font-size: 0.8em;
	line-height: 20px;
    margin-top: 20px;
}
.null2{
    width: 29%;
}	

/* 벌크 메뉴 기본 설정 */
.bulk_wrap{
    width: 78%;
	margin-bottom: 4%;
}
.bulk_img img{
	width: 60%;
}
.bulk p{
    font-size: 0.8em;
	line-height: 20px;
    margin-top: 20px;
}
.null{
    width: 26.5%;
}
	
}