@charset "utf-8";
@font-face {
    font-family: 'Dolbomche_R';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2104@1.0/Dolbomche_R.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'Dolbomche_B';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2104@1.0/Dolbomche_B.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'NEXON Lv1 Gothic OTF Bold';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_20-04@2.1/NEXON Lv1 Gothic OTF Bold.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

#wrap{
    width: 100%; 
    overflow: hidden;
}
a:hover{
    color:#b1b1b1;
    cursor: pointer;
}
/* 콘텐츠 메뉴 */
#main_menu{
    width: 74%;
    overflow: hidden;
    margin: 0 auto;
}
/* 서브텍스트 */
.main_text{
	width: 100%;
}
.main_text h1,h3{
    color: #370818;
    font-family: 'Dolbomche_R';
}
.main_text>h1{
	font-size: 2.3rem;
    margin-bottom: 15px;
}
.main_text>h3{
    margin-bottom: 20px;
    font-size: 1.1rem;
	font-weight: 100;
}
.main_text>p{
    border-bottom: 3px solid #370818;
    margin-bottom: 20px;
}

/* 콘텐츠 메뉴 gnb*/
.gnb{
    width: 99%;
    margin: 0 auto;
    margin-bottom: 60px;
}
.gnb>ul{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.gnb li a{
    font-family: 'Dolbomche_R';
    font-size: 1.3em;
}
.gnb li:nth-child(1){
    font-weight: 900;
}


/* 메인 콘텐츠 */
.main_content{
    width: 100%;
    overflow: hidden;
    position: relative;
}
/* 아이스크림 뒤 배경색 */
.leftcolor{
    width: 25%;
    height: 55%;
    background-color: #f7edc9;
    position: absolute;
    top: 20%;
	z-index: -9;
}
.rightcolor{
    width: 25%;
    height: 55%;
    background-color: #f8e5de;
    position: absolute;
    top: 20%;
    right: 0;
    z-index: -9;
}
/* 콘텐츠 텍스트 */
.main_content>h3,p{
    font-family: 'Dolbomche_b';
}
/* 메인 콘텐츠 */
.ice_wrap{
    width: 73%;
    overflow: hidden;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
}
/* 왼쪽 이미지 */
.left_img img{
	width: 100%;
}
.left_img p{
    text-align: center;
    font-size: 1.3em;
    margin-top: 20px;
    color: #370818;
}
/* 오른쪽 이미지 */
.right_img img{
	width: 100%;
}
.right_img p{
    text-align: center;
    font-size: 1.3em;
    margin-top: 20px;
}
/* 가운데 텍스트*/
.contents_text{
    text-align: center;
    line-height: 80px;
    color: #370818;
	white-space: nowrap;
}
.contents_text h3{
    font-size: 3.3em;
}
.contents_text .f_size{
    font-weight: 900;
     font-size: 1.9em;
}
.contents_text p:last-child{
    line-height: 35px;
    font-size: 1.2em;
    margin-bottom: 10px;
}

/* 메뉴 라인*/
.mobile_line{
	display: none;
}
.line{
    width: 73%;
    overflow: hidden;
    margin: 0 auto;
}
.line>ul{
    width: 100%;
    overflow: hidden;
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-sizing: border-box;
    margin: 50px 0 50px 0;
}
.line li:first-child,
.line li:last-child{
    width: 15%;
    border-bottom: 1px solid #370818;
}
.line li:nth-child(2),
.line li:nth-child(4){
    width: 10%;
    font-size: 1.1em;
    text-align: center;
}
.line li:nth-child(3){
    width: 40%;
    border-bottom: 1px solid #370818;
}
.line li .t_d{
    font-size: 1.6em;
    font-weight: 600;
	margin: 0 0 5px -10px;
}
/* 메뉴 wrap 기본 설정 */
.menu_wrap{
    width: 73%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between; 
    align-items: center;
    text-align: center;
}

/* 컵 메뉴 */
.cup1{
    font-size: 1.1em;
	color: #370818;
	line-height: 26px;
}
.menu_wrap .cupimg{
    height: 270px;
}
.menu_wrap .cupimg2{
     height: 270px;
}
.menu_wrap .cupimg2 img{
    margin-top: 20px;
}

/* 스틱바 메뉴 */
.stick1{
    font-size: 1.1em;
	color: #370818;
	line-height: 26px;
}
.menu_wrap .stickimg{
    height: 270px;
}
.menu_wrap .stickimg>img{
    width: 240px;
}
.menu_wrap .stickimg2>img{
    width: 225px;
}
.menu_wrap .stickimg2{
     height: 270px;
}


/* 케이크 메뉴 */
.menu_wrap:last-of-type{
	margin-bottom: 100px;
}
.cake1{
    font-size: 1.1em;
	color: #370818;
	line-height: 26px;
}
.menu_wrap .cakeimg{
    height: 245px;
}
.menu_wrap .cakeimg>img{
    width: 240px;
}
.menu_wrap .cakeimg2>img{
    width: 240px;
}
.menu_wrap .cakeimg2{
     height: 245px;
}
.cake_wrap .cakeimg2 img{
    margin-top: 10px;
}





/* 반응형 웹 */


/* 모바일 */
@media all and (max-width:768px) { 
	
/* 콘텐츠 메뉴 */
#main_menu{
    width: 90%;
}
/* 서브텍스트 */
.main_text>h1{
	font-size: 1.2rem;
    margin-bottom: 10px;
	font-family: 'NEXON Lv1 Gothic OTF Bold';
}
.main_text>h3{
    margin-bottom: 10px;
	font : bold 0.65rem / 10px  'NEXON Lv1 Gothic OTF Bold';
}
.main_text>p{
    border-bottom: 2px solid #370818;
    margin-bottom: 10px;
}

/* 콘텐츠 메뉴 gnb*/
.gnb{
    width: 99%;
    margin-bottom: 30px;
}
.gnb li a{
	font-size: 0.8em;
	font-family: 'NEXON Lv1 Gothic OTF bold';
	color: #370818;
}
.gnb li:nth-child(1)>a{
	color: #949494;
	font-family: 'NEXON Lv1 Gothic OTF bold';
}
	

/* 메인 콘텐츠 */
.main_content{
    width: 100%;
    overflow: hidden;
    position: relative;
}
/* 아이스크림 뒤 배경색 */
.leftcolor{
    height: 20%;
	top: 5%;
}
.rightcolor{
    height: 20%;
    top: 5%;
}
/* 콘텐츠 텍스트 */
.main_content>h3,p{
   font-family: 'NEXON Lv1 Gothic OTF Bold';
}
/* 메인 콘텐츠 */
.ice_wrap{
    width: 90%;
	height: 350px;
    align-items:stretch;
}
.left_img img{
		width:90%;
}
.right_img img{
		width: 90%;
		transform: translateX(10%);
	}	
/*왼쪽 텍스트 */	
.left_img p{
    font-size: 0.85em;
    margin-top: 10px;
}
/* 오른쪽 텍스트 */
.right_img p{
    font-size: 0.85em;
    margin-top: 10px;
}	
/* 가운데 텍스트*/
.contents_text{
	position: absolute;
	height: 100%;
	top: 53%;
	left: 50%;
	transform: translateX(-50%);
    line-height: 20px;
}
.contents_text h3{
    font-size: 1.6em;
	margin-bottom: 15px;
	font-family: 'NEXON Lv1 Gothic OTF bold';
}
.contents_text .f_size{
     font-size: 1em;
	margin-bottom: 10px;
	white-space: nowrap;
}
.contents_text p:last-child{
    line-height: 25px;
    font-size: 0.8em;
    margin-bottom: 10px;
	white-space: nowrap;
}

/* 메뉴 라인*/
.line{
	display: none;
}	
.mobile_line{
	width: 90%;
	margin:  0 auto;
	margin-bottom: 40px;
	margin-top: 20px;
	text-align: center;
	display: inherit;
	display: flex;
	align-items: center;
}	
.mobile_line>p:nth-child(2){
		width: 50%;
}	
.mobile_line>p:first-child,
.mobile_line>p:last-child{
	width: 25%;
	border-bottom: 2px solid #370818;
}	
.mobile_line a{
		font: bold 1.1em / 0  'NEXON Lv1 Gothic OTF Bold';
		margin-left: 5px;
}	

/* 메뉴 wrap 기본 설정 */
.menu_wrap{
    width: 90%;
    margin: 0 auto;
    display: block;
    justify-content: normal;
}

/* 컵 메뉴 */
.cup1{
	width: 50%;
	margin: 0 auto;
	float: left;
    font-size: 0.8em;
	line-height: 25px;
	margin-bottom: 50px;
}
.menu_wrap .cupimg{
    height: 0;
	margin-bottom: 95%;
}
.cupimg>img{
		width: 75%;
}	
.cupimg2>img{
		width: 75%;
}
.menu_wrap .cupimg2{
    height: 0;
	margin-bottom: 90%;
}
.menu_wrap .cupimg2 img{
    margin-top: 0px;
}

/* 스틱바 메뉴 */
.stick1{
	width: 50%;
	margin: 0 auto;
	float: left;
    font-size: 0.8em;
	line-height: 25px;
	margin-bottom: 50px;
}
.menu_wrap .stickimg{
    height: 0;
	margin-bottom: 95%;
}
.menu_wrap .stickimg>img{
    width: 75%;
}
.menu_wrap .stickimg2>img{
    width: 75%;
}
.menu_wrap .stickimg2{
    height: 0;
	margin-bottom: 95%;
}


/* 케이크 메뉴 */
.menu_wrap:last-of-type{
	margin-bottom: 0px;
}
.cake1{
	width: 50%;
	margin: 0 auto;
	float: left;
    font-size: 0.8em;
	line-height: 25px;
	margin-bottom: 50px;
}
.menu_wrap .cakeimg{
    height: 0;
	margin-bottom: 95%;
}
.menu_wrap .cakeimg>img{
    width: 75%;
}
.menu_wrap .cakeimg2>img{
    width: 75%;
}
.menu_wrap .cakeimg2{
    height: 0;
	margin-bottom: 95%;
}
}

/* 모바일 사이즈 미세 조정 */
@media all and (min-width:550px) and (max-width:767px) { 
/* 가운데 텍스트*/
.contents_text{
	top: 63%;
}
/* 아이스크림 뒤 배경색 */
.leftcolor{
    height: 20%;
	top: 20%;
}
.rightcolor{
    height: 20%;
    top: 20%;
}	
}




/* 태블릿 사이즈*/
@media all and (min-width:769px) and (max-width:1024px) {
	/* 콘텐츠 메뉴 */
#main_menu{
    width: 95%;
}
/* 서브텍스트 */
.main_text>h1{
	font-size: 1.9rem;
    margin-bottom: 10px;
}
.main_text>h3{
    margin-bottom: 15px;
    font-size: 1.1rem;
}
.main_text>p{
    border-bottom: 2px solid #370818;
    margin-bottom: 15px;
}

/* 콘텐츠 메뉴 gnb*/
.gnb{
    width: 99%;
    margin-bottom: 50px;
}
.gnb li a{
    font-size: 1.4em;
}
	

/* 메인 콘텐츠 */
	
/* 아이스크림 뒤 배경색 */
.leftcolor{
    height: 30%;
	top: 10%;
}
.rightcolor{
    height: 30%;
    top: 10%;
}
/* 콘텐츠 텍스트 */
.main_content>h3,p{
    font-family: 'Dolbomche_b';
}
/* 메인 콘텐츠 */
.ice_wrap{
    width: 90%;
	height: 550px;
    align-items:stretch;
}
.left_img img{
	width:85%;
}
.right_img img{
	width: 85%;
	transform: translateX(10%);
}	
/*아이스크림 밑 텍스트 */	
.left_img p,
.right_img p{
    font-size: 1.5em;
    margin-top: 20px;
}
/* 가운데 텍스트*/
.contents_text{
	position: absolute;
	height: 100%;
	top: 60%;
	left: 50%;
	transform: translateX(-50%);
    line-height: 40px;
}
.contents_text h3{
    font-size: 2.7em;
	margin-bottom: 15px;
}
.contents_text .f_size{
     font-size: 1.3em;
	margin-bottom: 15px;
	white-space: nowrap;
}
.contents_text p:last-child{
    line-height: 30px;
    font-size: 1.2em;
    margin-bottom: 10px;
	white-space: nowrap;
}

/* 메뉴 라인*/
.line{
	display: none;
}	
.mobile_line{
	width: 95%;
	margin:  0 auto;
	margin-bottom: 70px;
	margin-top: 50px;
	text-align: center;
	display: inherit;
	display: flex;
	align-items: center;
}	
.mobile_line>p:nth-child(2){
		width: 40%;
}	
.mobile_line>p:first-child,
.mobile_line>p:last-child{
	width: 35%;
	border-bottom: 1.5px solid #370818;
}	
.mobile_line a{
		font: bold 2em / 0 'Dolbomche_b';
		margin-left: 5px;
}	

/* 메뉴 wrap 기본 설정 */
.menu_wrap{
    width: 95%;
    margin: 0 auto;
    display: block;
    justify-content: normal;
}

/* 컵 메뉴 */
.cup1{
	width: 50%;
	margin: 0 auto;
	float: left;
    font-size: 1.35em;
	line-height: 40px;
	margin-bottom: 50px;
}
.menu_wrap .cupimg{
    height: 0;
	margin-bottom: 70%;
}
.cupimg>img{
		width: 55%;
}	
.cupimg2>img{
		width: 60%;
}
.menu_wrap .cupimg2{
    height: 0;
	margin-bottom: 70%;
}
.menu_wrap .cupimg2 img{
    margin-top: 20px;
}

/* 스틱바 메뉴 */
.stick1{
	width: 50%;
	margin: 0 auto;
	float: left;
    font-size: 1.35em;
	line-height: 40px;
	margin-bottom: 50px;
}
.menu_wrap .stickimg{
    height: 0;
	margin-bottom: 70%;
}
.menu_wrap .stickimg>img{
    width: 60%;
}
.menu_wrap .stickimg2>img{
    width: 60%;
}
.menu_wrap .stickimg2{
    height: 0;
	margin-bottom: 70%;
}


/* 케이크 메뉴 */
.menu_wrap:last-of-type{
	margin-bottom: 0px;
}
.cake1{
	width: 50%;
	margin: 0 auto;
	float: left;
    font-size: 1.35em;
	line-height: 40px;
	margin-bottom: 50px;
}
.menu_wrap .cakeimg{
    height: 0;
	margin-bottom: 70%;
}
.menu_wrap .cakeimg>img{
    width: 60%;
}
.menu_wrap .cakeimg2>img{
    width: 60%;
}
.menu_wrap .cakeimg2{
    height: 0;
	margin-bottom: 65%;
}
}





/* 노트북 사이즈*/
@media all and (min-width:1025px) and (max-width:1520px) {  
/* 콘텐츠 메뉴 */
#main_menu{
	padding-left: 20px;
}
.main_text>h1{
	font-size: 1.4rem;
    margin-bottom: 5px;
}
.main_text>h3{
    margin-bottom: 10px;
    font-size: 0.7rem;
}
.main_text>p{
    border-bottom: 2px solid #370818;
    margin-bottom: 10px;
}

/* 콘텐츠 메뉴 gnb*/
.gnb{
	 margin-bottom: 35px;	
	}	
.gnb li a{
    font-size: 0.9em;
}
/* 메인 콘텐츠 */
.left_img img{
	width: 100%;
}	
.right_img img{
	width: 100%;
}		
.leftcolor{
    width: 30%;
    height: 130px;
    top: 20%;
	z-index: -9;
}
.rightcolor{
    width: 30%;
    height: 130px;
    top: 20%;
    z-index: -9;
}
/* 메인 콘텐츠 */
.ice_wrap{
    width: 73%;
}
.left_img p{
    text-align: center;
    font-size: 1em;
    margin-top: 25px;
    color: #370818;
}
/* 가운데 텍스트*/
.contents_text{
    text-align: center;
    line-height: 50px;
    color: #370818;
}
.contents_text h3{
    font-size: 2.3em;
}
.contents_text .f_size{
     font-size: 1.2em;
	white-space: nowrap;
	margin-top: 10px;
}
.contents_text p:last-child{
    line-height: 30px;
    font-size: 0.85em;
    margin-bottom: 0px;
	white-space: nowrap;
}
/* 오른쪽 텍스트 */
.right_img p{
    text-align: center;
    font-size: 1em;
    margin-top: 25px;
}


/* 메뉴 라인*/
.mobile_line{
	display: none;
}
.line>ul{
    margin: 30px 0 30px 0;
}
.line li:first-child,
.line li:last-child{
    width: 15%;
    border-bottom: 1px solid #370818;
}
.line li:nth-child(2),
.line li:nth-child(4){
    width: 10%;
    font-size: 0.75rem;
    text-align: center;
}
.line li:nth-child(3){
    width: 40%;
    border-bottom: 1px solid #370818;
}
.line li .t_d{
    font-size: 1.25rem;
}

/* 컵 메뉴 */
.cup1{
    font-size: 0.85em;
	line-height: 23px;
}
.menu_wrap .cupimg,
.menu_wrap .cupimg2{
    height: 200px;
}
.cupimg img,
.cupimg2 img{
	width: 70%;
	}	
.menu_wrap .cupimg2 img{
    margin-top: 15px;
}

/* 스틱바 메뉴 */
.stick1{
    font-size: 0.85em;
	line-height: 23px;
}
.menu_wrap .stickimg,
.menu_wrap .stickimg2{
    height: 200px;
}
.menu_wrap .stickimg>img{
    width: 65%;
}
.menu_wrap .stickimg2>img{
    width: 70%;
}



/* 케이크 메뉴 */
.menu_wrap:last-of-type{
	margin-bottom: 50px;
}
.cake1{
    font-size: 0.85em;
	line-height: 23px;
}
.menu_wrap .cakeimg,
.menu_wrap .cakeimg2{
    height: 200px;
}
.menu_wrap .cakeimg>img{
    width: 70%;
}
.menu_wrap .cakeimg2>img{
    width: 70%;
}
}

/* 노트북 사이즈 미세 조정 */
@media all and (min-width:1025px) and (max-width:1200px) { 
/* 아이스크림 뒤 배경색 */
.leftcolor{
    height: 50%;
	top: 15%;
}
.rightcolor{
    height: 50%;
    top: 15%;
}	
}
