@charset "utf-8";
@font-face {
    font-family: 'Dolbomche_R';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2104@1.0/Dolbomche_R.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'Dolbomche_B';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2104@1.0/Dolbomche_B.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
#wrap{
    width: 100%;
    overflow: hidden;
}
a:hover{
    color:#ececec;
    cursor: pointer;
}

/* 로그인 위에 상단바 */
.colorbar{
    width: 100%;
    height: 150px;
    background-color: #370818;
	 color: #fff;
	text-align: center;
}
.colorbar h1{
	font : bold 2.3em / 40px 'Dolbomche_R';
	margin-bottom: 10px;
    padding-top: 35px;
}
.colorbar h2{
    font-family: 'Dolbomche_R';
	font-size: 1.7em;
}
/* 로크인 페이지 */
#loginwrap{
    width: 30%;
    overflow: hidden;
    margin: 0 auto;
	transform: translateX(-5%);
	white-space: nowrap;
}
.login{
    width: 100%;
    margin-top: 10%;
}
.logintext{
	display: flex;
	justify-content: space-between;
	align-items: center;
}
.logintext>p,
.logintext>input{
	display: block;
	  margin-bottom: 25px;
}
.logintext>p{
	 font-family: 'Dolbomche_b';
	  font-size: 1.5em;
}
.t_box{
	 width: 75%;
    height: 60px;
    border: 1px solid #bcbcbc;
    background-color: #ececec;
 	font-family: 'Dolbomche_b';
	font-size: 1.5em;
	padding-left: 10px;
	box-sizing: border-box;
}
.checkbox{
	width: 75%;
	overflow: hidden;
	float: right;
    margin-bottom: 25px;
	display: flex;
	justify-content: space-between;
}
.checkbox>span{
	display: block;
}
.checkbox span,
.checkbox>span>a{
	font-family: 'Dolbomche_b';
	font-size: 1.3rem;
}
.checkbox>span:first-child{
	display: flex;
	align-items : center;
}
.checkbox>span:first-child>input[type='radio']{
	appearance: none;
	width: 20px;
	height: 20px;
	border: 1px solid #000;
	border-radius: 100%;
	background-color: #fff;
	cursor: pointer;
	margin-right: 5px;
}
.checkbox>span:first-child>input[type='radio']:checked {
  background-color: #000;
}

/* 로그인하기 버튼 */
.button{
    width: 100%;
    text-align: center;
}
.button>button{
    width: 75%;
    height: 60px;
    border: none;
	float: right;
    background-color: #181818;
    color: #fff;
    font-family: 'Dolbomche_R';
    font-size: 1.4em;
    cursor: pointer;
    margin-bottom: 15px;
}
.button>button>a{
	color: #fff;
}
.b_sns{
	width: 75%;
	text-align: center;
	float: right;
	font:bold 1.5em / 30px 'Dolbomche_b';
	margin-top: 10px;
}

/* sns 아이콘*/
.sns_image{
    width: 75%;
	float: right;
	margin: 20px 0 50px 0;
    display: flex;	
	align-items: center;
    justify-content: space-between;
}


/* 반응형 웹 */


/* 모바일 */
@media all and (max-width:768px) { 
	
	/* 로그인 위에 상단바 */
.colorbar{
    height: 80px;
}
.colorbar h1{
	font : bold 1.5em / 30px 'Dolbomche_R';
	margin-bottom: 5px;
    padding-top: 15px;
}
.colorbar h2{
	font-size: 1em;
}
/* 로크인 페이지 */
#loginwrap{
    width: 90%;
	transform: translateX(-0%);
}
.login{
    margin-top: 10%;
}
.logintext>p,
.logintext>input{
	  margin-bottom: 25px;
}
.logintext>p{
	  font-size: 1.1em;
}
.t_box{
    height: 40px;
	font-size: 1.1em;
}
.checkbox{
	width: 100%;
    margin-bottom: 30px;
}
.checkbox span,
.checkbox>span>a{
	font-size: 1rem;
}
.checkbox>span:first-child>input[type='radio']{
	width: 15px;
	height: 15px;
}
	
/* 로그인하기 버튼 */
.button>button{
	width: 100%;
    height: 40px;
    font-size: 1.1em;
    margin-bottom: 15px;
}
.b_sns{
	width: 100%;
	font:bold 1.2em / 30px 'Dolbomche_b';
	margin-top: 10px;
}

/* sns 아이콘*/
.sns_image{
	width: 100%;
	margin: 20px 0 0px 0;
}
.sns_image img{
	width: 85%;		
}

}


/* 태블릿 사이즈*/
@media all and (min-width:769px) and (max-width:1024px) {
	
/* 로그인 위에 상단바 */
.colorbar{
    height: 100px;
}
.colorbar h1{
	font : bold 1.8em / 30px 'Dolbomche_R';
    padding-top: 20px;
}
.colorbar h2{
	font-size: 1.2em;
}
/* 로크인 페이지 */
#loginwrap{
    width:90%;
	transform: translateX(-0%);
}
.login{
    margin-top: 7%;
}
.logintext>p,
.logintext>input{
	  margin-bottom: 30px;
}
.logintext>p{
	  font-size: 1.7em;
}
.t_box{
    height: 60px;
	font-size: 1.7em;
}
.checkbox{
	width: 100%;
    margin-bottom: 40px;
}
.checkbox span,
.checkbox>span>a{
	font-size: 1.7rem;
}
	
/* 로그인하기 버튼 */
.button>button{
	width: 100%;
    font-size: 1.7em;
    margin-bottom: 20px;
}
.b_sns{
	width: 100%;
	font:bold 2em / 30px 'Dolbomche_b';
	margin-top: 20px;
}

/* sns 아이콘*/
.sns_image{
	width: 100%;
	margin: 30px 0 0 0;
}
.sns_image img{
	width: 100%;		
}
}

/* 노트북 사이즈*/
@media all and (min-width:1025px) and (max-width:1520px) {

/* 로그인 위에 상단바 */
.colorbar{
    height: 100px;
}
.colorbar h1{
	font : bold 1.5em / 40px 'Dolbomche_R';
	margin-bottom: 5px;
    padding-top: 15px;
}
.colorbar h2{
	font-size: 1.1em;
}
/* 로그인 페이지 */
.login{
    margin-top: 7%;
}
.logintext>p,
.logintext>input{
	  margin-bottom: 15px;
}
.logintext>p{
	  font-size: 1.1em;
}
.t_box{
    height: 40px;
	font-size: 1.1em;
}
.checkbox{
    margin-bottom: 15px;
}
.checkbox span,
.checkbox>span>a{
	font-size: 0.9rem;
}
.checkbox>span:first-child>input[type='radio']{
	width: 15px;
	height: 15px;
}

/* 로그인하기 버튼 */
.button>button{
    height: 40px;
    font-size: 1.1em;
    margin-bottom: 7px;
}
.b_sns{
	font:bold 1.1em / 30px 'Dolbomche_b';
	margin-top: 10px;
}
/* sns 아이콘*/
.sns_image{
	margin: 10px 0 0px 0;
}
.sns_image img{
	width: 80%;		
}
#footer{
	margin-top: 30px;
}
}
